<%- include('partials/header.ejs') %>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= user.username %>'s Profile
        </title>
        <link rel="stylesheet" href="/css/profile.css">

    </head>

    <body>
        <header>
            <h1>Welcome, <%= user.username %>!</h1>
        </header>
        <main>
            <section>
                <h2>Profile Details</h2>
                <p><strong>Name:</strong>
                    <%= user.details.name %>
                </p>
                <p><strong>Bio:</strong>
                    <%= user.details.bio %>
                </p>
                <a href="/Profile/<%= user._id %>/edit" class="btn">Edit Profile</a>

            </section>
            <section>
                <h2><a href="/collections" class="btn">Collection</a></h2>
                <ul>
                    <!-- You can add more detailed information about the user's collections here if needed -->
                </ul>
            </section>
        </main>
    </body>

    </html>
    <%- include('partials/footer.ejs') %>